<table style="margin-left: 1rem">
	<thead style="text-align: left">
		<tr>
			<th>Module</th>
			<th>Synopsis</th>
		</tr>
	</thead>
{{- range $.Pages.GroupByParam "category" }}
	<tbody>
	{{ if .Key }}
	<tr>
		<td colspan="2">
			<h4>{{ .Key }}</h4>
		</td>
	</tr>
	{{- end }}
	{{- range .Pages }}
	<tr>
	{{- with $u := urls.Parse .Permalink }}
	{{- with $import := path.Join $u.Host $u.Path }}
	<td><a href="{{ $u }}">{{ $import }}</a></td>
	{{- end }}
	{{- end }}
	<td>{{ .Summary }}</td>
	</tr>
	{{- end }}
	<tbody>
{{- end }}
</table>
