<br/>
<center>
	<div>
		<a rel="me" href="https://social.coop/@mellium"><img width=35 src="/mastodon.svg" alt="Follow on Mastodon"/></a>
	</div>
	<div>
		<a rel="me" href="https://codeberg.org/mellium"><img height=60 src="/codeberg.svg" alt="Get it on Codeberg"/></a>
	</div>
	<div>
		<h2>Sponsors</h2>
		<a href="https://cheogram.com/freedomware-muc/"><img alt="Cheogram" height=100 src="/sponsors/cheogram.svg"/></a>
		<a href="https://alderit.com/"><img alt="Alder IT" height=100 src="/sponsors/alderit.png"/></a>
	</div>
</center>
