<br/>
<center>
	<div>
		<a rel="me" href="https://fosstodon.org/@mellium"><img width=35 src="/mastodon.svg" alt="Follow on Mastodon"/></a>
		<a rel="me" href="https://community.xmpp.net/c/mellium"><img height=35 src="/lemmy.webp" alt="Follow on Lemmy"/></a>
	</div>
	<div>
		<a href="https://fosshost.org/"><img height=75 src="/fosshost.org_Host_Light.png" alt="Hosted by Fosshost"/></a>
		<a rel="me" href="https://codeberg.org/mellium"><img height=75 src="/codeberg.svg" alt="Get it on Codeberg"/></a>
	</div>
</center>
